/* https://github.com/linzor/Youtube_Custom_CSS
	V0.2
				Link to the background below:*/
ytd-app{
 background-color:rgba(0,0,0,0) !important;
 /* right here :) */
 background-image:url("https://w.wallhaven.cc/full/yx/wallhaven-yxx3kd.png") !important;
 transform:translatex(0px) translatey(0px);
}


/* css */
#background{
 background-color:rgba(0,0,0,0) !important;
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* Voice search button */
#voice-search-button{
 background-color:rgba(24,24,24,0) !important;
}

/* Country code */
#country-code{
 opacity:0;
}

/* Logo */
#logo{
 filter: hue-rotate(318deg);
}

/* Search form */
#search-form{
 box-shadow:none;
}

/* Popup container */
#contentWrapper .ytd-popup-container{
 background-color:rgba(0,0,0,0);
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
 border-top-left-radius:12px;
 border-top-right-radius:1px;
 border-bottom-left-radius:12px;
 border-bottom-right-radius:12px;
}

/* Multi page menu renderer */
#header .ytd-multi-page-menu-renderer{
 background-color:rgba(0,0,0,0);
}

/* Multi page menu renderer */
#submenu > .ytd-multi-page-menu-renderer{
 background-color:rgba(0,0,0,0);
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* Channel container */
#channel-container{
 background-color:rgba(2,2,2,0) !important;
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
 top:-4px;
}

/* Tabs container */
#tabs-container{
 background-color:rgba(0,0,0,0) !important;
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* Content container */
#contentContainer{
 background-color:rgba(0,0,0,0) !important;
}

/* Tabs inner container */
#tabs-inner-container{
 background-color:rgba(0,0,0,0) !important;
}

/* Channel header */
#channel-header{
 background-color:rgba(0,0,0,0) !important;
}

/* Division */
#edit-buttons yt-button-shape .yt-spec-touch-feedback-shape__fill{
 background-color:rgba(0,0,0,0);
}

/* Link */
#edit-buttons yt-button-shape .yt-spec-button-shape-next--call-to-action{
 background-color:rgba(0,0,0,0.1);
 color:#ffffff;
 backdrop-filter:brightness(0.9) saturate(0.9);
}

/* Link */
#upload-video-button yt-button-shape a{
 background-color:rgba(0,0,0,0.1);
 color:#ffffff;
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* Title */
#title{
 display:inline-block;
 transform:translatex(0px) translatey(0px) !important;
}

/* Illustration */
#contents .ytd-section-list-renderer .illustration{
 opacity:0;
}

/* Edit banner link */
#edit-banner-link{
 box-shadow:none;
}

/* Guide content */
#guide-content{
 background-color:rgba(0,0,0,0) !important;
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* App */
#content .ytd-app:nth-child(3){
 background-color:rgba(0,0,0,0);
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* Items */
#items{
 transform:translatex(0px) translatey(0px);
 background-color:rgba(0,0,0,0);
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* Endpoint */
#endpoint{
 visibility:visible;
}

/* Style scope */
#contentContainer > .style-scope{
 top:-4px;
}

/* Mini guide renderer */
#items .ytd-mini-guide-renderer{
 background-color:rgba(0,0,0,0);
}

/* Description text */
#description-text{
 transform:translatex(0px) translatey(0px);
}

/* Item section renderer */
#contents > .ytd-item-section-renderer{
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
 border-top-right-radius:20px;
 border-bottom-left-radius:20px;
 border-bottom-right-radius:20px;
 border-top-left-radius:20px;
 padding-left:3px;
}

/* Chips wrapper */
#chips-wrapper{
 background-color:rgba(0,0,0,0) !important;
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* Masthead container */
#masthead-container{
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* Rich shelf header */
#rich-shelf-header{
 display:none !important;
}

#contents > .ytd-rich-shelf-renderer{
 display:none;
}

/* Division */
#show-more-button yt-button-shape .yt-spec-touch-feedback-shape__fill{
 display:none;
}

/* Division */
#show-more-button yt-button-shape .yt-spec-touch-feedback-shape__stroke{
 display:none;
}

/* Division */
#show-more-button yt-button-shape .yt-spec-touch-feedback-shape--touch-response{
 display:none;
}

/* Button */
#show-more-button yt-button-shape .yt-spec-button-shape-next--text{
 display:none;
}

/* Show more button */
#show-more-button{
 display:none !important;
}

/* Rich grid row */
#page-manager .ytd-page-manager .grid-disabled #primary .ytd-two-column-browse-results-renderer #contents .ytd-rich-grid-renderer #contents .ytd-rich-grid-row{
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9) !important;
}

/* Rich grid row */
#contents > .ytd-rich-grid-row{
 border-top-left-radius:20px;
 border-top-right-radius:20px;
 border-bottom-left-radius:20px;
 border-bottom-right-radius:20px;
}

/* Rich section renderer */
#content > .ytd-rich-section-renderer{
 display:none;
}

/* Inline preview player */
#inline-preview-player{
 background-color:rgba(0,0,0,0);
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* Inline preview scrim */
#inline-preview-player .ytp-inline-preview-ui .ytp-inline-preview-scrim{
 transform:translatex(525px) translatey(541px);
}

/* Player container */
#player-container{
 background-color:rgba(0,0,0,0) !important;
}

/* Video preview container */
#video-preview-container{
 background-color:rgba(0,0,0,0.8) !important;
}

/* Right arrow button */
#right-arrow-button{
 transform:translatex(525px) translatey(541px);
}

/* Right arrow */
#right-arrow{
 opacity:0;
}

/* Playlist header renderer */
ytd-app #content #page-manager .ytd-page-manager .style-scope .immersive-header-container > .ytd-playlist-header-renderer{
 background-color:rgba(0,0,0,0) !important;
}

/* Playlist header renderer */
#page-manager .ytd-page-manager .style-scope .immersive-header-container > .ytd-playlist-header-renderer{
 backdrop-filter:blur(10px);
}

.opened{
 display:none;
}

/* Popup container */
ytd-app .ytd-app > .ytd-popup-container{
 background-color:rgba(0,0,0,0);
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
 border-top-left-radius:20px;
 border-top-right-radius:20px;
 border-bottom-left-radius:20px;
 border-bottom-right-radius:20px;
}

/* Share panel */
#shorts-player .ytp-share-panel{
 display:none;
}

/* Center */
#center{
 opacity:0.7;
}

/* Left arrow button */
#left-arrow-button{
 display:none !important;
}

/* Left arrow */
#left-arrow{
 display:none !important;
}

/* Secondary */
#secondary{
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* Below */
#below{
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
 border-top-left-radius:30px;
 border-top-right-radius:30px;
 border-bottom-left-radius:30px;
 border-bottom-right-radius:30px;
}

/* Top row */
#top-row{
 padding-left:40px;
 padding-right:20px;
}

/* Watch metadata */
#title .ytd-watch-metadata .ytd-watch-metadata{
 padding-left:40px;
 padding-top:14px;
 padding-bottom:8px;
}

/* Snippet */
#snippet{
 padding-left:30px;
}

/* Description */
#description{
 padding-left:30px;
}

/* Ytd comments header renderer */
#header .ytd-item-section-renderer{
 padding-right:70px;
 padding-left:35px;
}

/* Contents */
#contents{
 padding-left:3px;
}

/* Comment */
#comment{
 padding-left:35px;
 padding-right:70px;
}

/* Replies */
#replies{
 padding-left:35px;
 padding-right:70px;
}

/* Division */
#bar{
 background-color:rgba(0,0,0,0.3) !important;
}

/* Yt icon button */
#scroll-button-forward{
 background-color:rgba(0,0,0,0.8) !important;
 backdrop-filter:blur(10px) brightness(0.5) saturate(0.5);
}

/* Division */
#movie_player div .ytp-timed-markers-container{
 backdrop-filter: hue-rotate(318deg);
}

/* Division */
#page-manager .ytd-playlist-header-renderer .immersive-header-gradient{
 opacity:0;
}

/* Header */
#container .header{
 background-color:rgba(0,0,0,0);
}

/* Playlist items */
#playlist-items{
 background-color:rgba(0,0,0,0);
}

/* Playlist */
#playlist{
 padding-left:30px;
}

/* Settings menu */
#movie_player .ytp-settings-menu{
 background-color:rgba(0,0,0,0);
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* Ytd toggle button renderer */
#show-hide-button .ytd-live-chat-frame{
 background-color:rgba(0,0,0,0.2) !important;
}

/* Scroll button back */
#scroll-button-back{
 background-color:rgba(0,0,0,0.8) !important;
 backdrop-filter:blur(10px) brightness(0.5) saturate(0.5) !important;
}

/* yt channel grid renderer vid*/
/* Thumbnail */
#thumbnail{
 transform:translatex(0px) translatey(0px);
}

/* Rich item renderer */
#content > .ytd-rich-item-renderer{
 background-color:rgba(0,0,0,0);
 border-top-left-radius:20px;
 border-top-right-radius:20px;
 border-bottom-left-radius:20px;
 border-bottom-right-radius:20px;
 backdrop-filter:blur(10px) brightness(0.9) saturate(0.9);
}

/* Metadata line */
#metadata-line{
 padding-left:5px;
}
